* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Karla;
}
.app {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  background: 	#D8BFD8;
  box-shadow: 0px 4px  5px  1px #cecece ;
  margin-bottom: 5px;
}
form {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
.img-container {
 display: flex;
 justify-content: center;
 align-items: center;
 justify-self: start;
}
.title-container {
  position: relative;
  display: flex;
}
.inputs {
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  outline: none;
  border: none;
}
.form-item {
  display: flex;
  justify-content: space-between;
}
.duty-input {
  width: 33%;
  font-weight: bold;
  font-family: Karla;
}
.tags-input {
  width: 65%;
  font-family: Karla;
}
.desc-input {
  width: 100%;
  font-family: Karla;
}
.title {
  font-size: 40px;
  padding: 30px;
}
.container {
  width: 100%;
  background: white;
}
.description {
  display: flex;
  padding: 10px;
}
.item {
  font-size: 22px;
}
.item:nth-child(1) {
  width: 15%;
  font-weight: bold;
}
.item:nth-child(2) {
  width: 45%;
}
.item:nth-child(3) {
  width: 30%;
}
.item:nth-child(4) {
  width: 10%;
  cursor: pointer;
}
.item:nth-child(5) {
  display: none;
}
.code{
  display: none;
}
.todos {
  display: flex;
  background: #f0f0f0;
  padding: 10px;
}
.tags-container{
  display: flex;
}
.tag-item{
  background: rgb(245, 185, 185);
  font-size: 20px;
  border-radius: 10px;
  margin: 0 5px;
  padding: 2px 5px;
  font-weight: 600;
}
.trash{
  width: 30px;
  height: 30px;
  margin-left: auto;
  cursor: pointer;
}
.todo-img{
  height: 35px;
  width: 35px;
  margin: auto 10px;
}